<footer class="footer">
    <small>Movie SNS by xxxx</small>
    <nav>
        <ul>
            <li><%= link_to "Home",    '#' %></li>
            <li><%= link_to "About",    '#' %></li>
            <li><%= link_to "Log in",    '#' %></li>
        </ul>
    </nav>
</footer>